body, html {
        height: 100%;
    }
.bg {
/* The image used */
background-image: url("/images/Image/background.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

    .userright {
        display: grid;
        grid-template-columns: 2% 40% 50%;
        grid-auto-columns: auto;
        align-items: stretch;
        align-items: stretch;
    }

    .kalhati {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-columns: auto;
        align-items: stretch;
        align-items: stretch;
    }

    .userprofile {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-auto-columns: auto;
        align-items: stretch;
        align-items: stretch;
    }

    .userprofile > div {
        background: transparent;
    }

    .userprofile > .box3:nth-child(odd) {
        background: transparent;
    }

    .box1 {
        grid-column: 2/3;
        grid-row: auto;
        background: #d5d5d5;
    }

    .text4 {
        font-size: 17px;
        font-family: 'Lato', sans-serif;
        margin-top: -32px;
        margin-left: 170px;
        color: rgb(150, 133, 75);
    }

    .textedit {
        font-size: 17px;
        font-family: 'Lato', sans-serif;
        margin-top: -32px;
        margin-left: 230px;
        color: rgb(150, 133, 75);
    }
.animate {
font-size: 50px;


}

.animate span {
display: inline-block;
}



.animate span:nth-of-type(2) {
animation-delay: .05s;
}

.animate span:nth-of-type(3) {
animation-delay: .1s;
}

.animate span:nth-of-type(4) {
animation-delay: .15s;
}

.animate span:nth-of-type(5) {
animation-delay: .2s;
}

.animate span:nth-of-type(6) {
animation-delay: .25s;
}

.animate span:nth-of-type(7) {
animation-delay: .3s;
}

.animate span:nth-of-type(8) {
animation-delay: .35s;
}

.animate span:nth-of-type(9) {
    animation-delay: .4s;
}

.animate span:nth-of-type(10) {
    animation-delay: .45s;
}

.animate span:nth-of-type(11) {
    animation-delay: .5s;
}

.animate span:nth-of-type(12) {
    animation-delay: .55s;
}

.animate span:nth-of-type(13) {
    animation-delay: .6s;
}

.animate span:nth-of-type(14) {
    animation-delay: .65s;
}

.animate span:nth-of-type(15) {
    animation-delay: .7s;
}

.animate span:nth-of-type(16) {
    animation-delay: .75s;
}

.animate span:nth-of-type(17) {
    animation-delay: .8s;
}

.animate span:nth-of-type(18) {
    animation-delay: .85s;
}

.animate span:nth-of-type(19) {
    animation-delay: .9s;
}

.animate span:nth-of-type(20) {
    animation-delay: .95s;
}

.six span {
    color: rgba(234, 40, 3, 0.8);
    opacity: 0;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 26px;
    transform: rotate(-180deg) translate(150px, 0);
    animation: twister .5s forwards;

}


@keyframes twister {
    10% {
        opacity: 1;
    }

    100% {
        transform: rotate(0deg) translate(0);
        opacity: 1;
    }
}
