body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/images/Image/background.jpg");

    /* Full height */
    height: 111%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    align-items: stretch;
    align-items: stretch;
}

.album > div {
    background: #f1f1f1;
}

.bandmem > .box3:nth-child(odd) {
    background: #f1f1f1;
}


.bandmem {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 5% 90% 5%;
    align-items: stretch;
    align-items: stretch;
}

.bandmem > div {
    background: #f1f1f1;
}

.bandmem > .box3:nth-child(odd) {
    background: #f1f1f1;
}

.bandprofile1 {
    display: grid;
    grid-template-columns: 5% 45% 5% 40% 5%;
    grid-auto-rows: 50px 80% 50px;
    align-items: stretch;
    align-items: stretch;
}

.bandprofile1 > div {
    background: transparent;
}

.bandprofile1 > .box3:nth-child(odd) {
    background: transparent;
}

.box1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.box2 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.bandprofile {
    display: grid;
    grid-template-columns: 5% 45% 5% 40% 5%;
    grid-auto-rows: 50px 80% 50px;
    align-items: stretch;
    align-items: stretch;
}

.bandprofile > div {
    background: #f1f1f1;
}

.bandprofile > .box3:nth-child(odd) {
    background: #d5d5d6;
}

.box1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.box2 {
    grid-column: 4/5;
    grid-row: 2/3;
}


.img-valign {
    vertical-align: middle;
    margin-bottom: 0.5em;
}

.text2 {
    font-size: 26px;
    font-family: 'Cinzel Decorative', cursive;
    word-wrap: break-word;
    border: 3px;
    border-style: double;
    border-color: transparent;
    color: #c2b396;
}

.text3 {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-top: -43px;
    margin-left: 153px;

}

.desc {
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 3px;
    border-style: double;
    border-color: #a2321a;
    color: #141312;
    padding: 1em;
    text-align: center;
    word-wrap: break-word;
}

.containerreg {
    position: relative;
    width: 100%;
    padding: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

}

.containerreg:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    display: block;
    border: 0;
    border-top: solid #c2b396;
    padding: 0;
}

.gridcol {
    display: grid;
    grid-template-columns: 50% 50%;
}

.gridcol > div {
    background: transparent;
    padding: 1em;
}

.gridcol > div:nth-child(odd) {
    background: transparent;
}

 /* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(https://tympanus.net/Development/Elastislide/images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 40px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(https://tympanus.net/Development/Elastislide/images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}

.demo-3 .elastislide-horizontal {
	background-color: #000;
	padding: 30px 60px;
}

.no-touch .demo-3 .elastislide-horizontal {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.no-touch .demo-3 .elastislide-horizontal:hover {
	opacity: 1;
}

.demo-3 .elastislide-wrapper nav span {
	background-color: #000;
}

.demo-3 .elastislide-carousel ul li a{
	padding: 0 10px;
}

.demo-3 .elastislide-carousel ul li a img {
	border-radius: 10px;
	border: none;
}

.demo-4 .elastislide-horizontal {
	background-color: transparent;
	border-radius: 20px 20px 0 0;
}

.demo-3 .elastislide-horizontal.elastislide-loading,
.demo-4 .elastislide-horizontal.elastislide-loading {
	background-image: url(https://tympanus.net/Development/Elastislide/images/loading_dark.gif);
}